@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e4e4e4;
    --text: #272727;

    --radius: 0.5rem;
  }

  .dark {
    --background: #272727;
    --text: #e4e4e4;
  }
}

@layer base {
  body {
    @apply bg-background text-text;
  }
}